<!-- About Section -->
    <section id="jobExperience" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Professional Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for jobPosition in site.data.jobExperience.jobPositions %}
                            <li class="jobPosition{% if jobPosition.inverted %} timeline-inverted{% endif %}">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{ jobPosition.img }}" alt="{{ jobPosition.img-alt }}">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ jobPosition.period }}</h4>
                                        <h4 class="subheading">{{ jobPosition.title }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{ jobPosition.description }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>New<br> Experiences!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>