@media(min-width:767px) {
    .study,
    .jobPosition {
        display: flex;
        align-items: center;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        position:absolute;
        right: 0;
    }

}

@media(max-width:1000px) {
    #about .text-muted {
        margin-bottom: 40px;
    }
}

.download-links {
    display: flex;
    justify-content: center;
}

li.social {
    list-style-type: none;
}

.img-center {
    display: flex;
    justify-content: center;
}